---
import WorkData from "../../data-works/data.json";
import Code from "../../icons/Code.astro";
import CardWork from "../../components/card-work/CardWork.astro";
---

<section id="works-id" class="works-section-container">
  <h3 class="works-section-h3"><Code /> Proyectos</h3>
  {
    WorkData.proyectos.map((proyecto) => (
      <CardWork
        title={proyecto.title}
        description={proyecto.description}
        tecnologias={proyecto.tecnologias}
        imagen={proyecto.imagen}
        linkGithub={proyecto.linkGithub}
        linkWeb={proyecto.linkWeb}
        condition={proyecto.condition}
      />
    ))
  }
</section>

<style>
  .works-section-container {
    display: flex;
    flex-direction: column;
    width: 851px;
    max-width: 95%;
    margin: 0 auto;
    gap: 3rem;
  }

  .works-section-h3 {
    font-size: 32px;
    font-weight: bold;
  }
</style>
